body{
font-family: 'Almarai', sans-serif;
padding:0px;
margin:0px;

overflow-x:hidden;
overflow-y:hidden;

user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* PHONE */

/* generali */
.line{
  width: 100%;
  height: 2.1px;
  background-color: black;
}

a{
  text-decoration: none;
  color: black;
}

.display_none{
  display: none;
}

/* header */
.header{
  position: fixed;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 90vw;
  height: 60px;
  /* border: 1px solid green; */
}

.line_header{
  position: absolute;
  bottom: 0%;
}

.header_name{
  position: absolute;
  font-weight: 400;
  font-size: 17px;
  transform: translate(0%, -50%);
  top:60%;
}

.header_name:hover{
  background-color: rgb(0, 255, 0);
  transition: 0.5s;
}

#works{
  left: 75px;

}

#contact{
  left:150px;
  cursor: pointer;
}

#home{
  right:0px;
    background-color: rgb(0, 255, 0);
}

/* contact */

@keyframes container_open {
  from{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 120px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 120px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 20px;
  padding: 40px 15px 20px 15px;
  line-height: 30px;
  text-align: center;
  opacity: 1;
  height: 120px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}

.green_background{
  background-color: rgb(0, 255, 0);
}

.exit{
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 10px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}

.exit:hover{
  background-image: url("images/x_white.png");
  transition: 0.2s;
}


.contact_popup:hover{
  color: white;
  transition: 0.2s;
}

.contact_popup{
  text-decoration: underline;
}



/* body */

.body{
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  width: 90vw;
  top: 100px;
  /* border: 1px solid green; */
}

.home_description{
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
}

.sottolineato_verde{
  background-color: rgb(0, 255, 0);
}

.ME:before{
  cursor:pointer;
  text-decoration: underline;
  content: "ME";
}

.elisa_manzoni{
  color: rgb(0, 255, 0);
}

.coding:before{
  content: "coding";
}

.coding:hover:after{
  color: rgb(0, 255, 0);
  /* content: " (clicca per provare un mio esperimento)"; */
  content: " (click to try one of my experiments)";
}

.link_scopri{
  display: inline-block;
  margin-top: 40px;
  line-height: 35px;
}

.link_progetti{
    text-decoration: underline;
    line-height: 38px;
    width: 250px;
}

@keyframes arrow_right1 {
  0%{ margin-left: 10px}
  6.25% {margin-left: 20px}
  12.5% {margin-left: 10px}
  18.75% {margin-left: 20px}
  25% {margin-left: 10px}
  100% {margin-left: 10px}
}

@keyframes arrow_right2 {
  0%{ margin-left: 10px}
  40%{ margin-left: 10px}
  46.25% {margin-left: 20px}
  52.5% {margin-left: 10px}
  58.75% {margin-left: 20px}
  65% {margin-left: 10px}
  100% {margin-left: 10px}
}

.arrow_right{
  display: inline-block;
  height:20px;
  transform: translate(0%, 10%);
}

.arrow_right1{
    animation: arrow_right1 3s infinite linear;
}

.arrow_right2{
    animation: arrow_right2 3s infinite linear;
}









/* DESKTOP */

@media (min-width: 768px){

.line{
  height: 3px;
}

.header{
  width:95vw;
}

.header_name{
  font-size: 24px;
}

#works{
  left: 150px;
}

#contact{
  left:300px;
}

#home{
  right:0px;
}


/* contact */


@keyframes container_open {
  from{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 180px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 180px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 30px;
  padding: 60px 20px 20px 20px;
  line-height: 45px;
  text-align: center;
  opacity: 1;
  height: 180px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}


.exit{
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 20px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}



/* body */

.body{
  width:95vw;
}

.home_description{
  font-size: 43px;
  line-height: 58px;
  width: 60%;
}

.arrow_right{
  height:30px;
  transform: translate(0%, 10%);
}

.link_progetti{
  line-height: 55px;
  width: 100%;
}

.link_progetti:hover{
  color:rgb(0,255,0);
  transition: 0.2s;
  text-decoration-color: rgb(0,255,0)!important;
}

.coding:before{
  cursor:pointer;
  text-decoration: underline;
  content: "coding";
}

.coding:hover:after{
  color: rgb(0, 255, 0);
  /* content: " (clicca per provare un mio esperimento)"; */
  content: " (click to try one of my experiments)";
}


.ME:before{
  cursor:pointer;
  text-decoration: underline;
  content: "ME";
}

.ME:hover:after{
  color: rgb(0, 255, 0);
  content: " (Manzoni Elisa)";
}

.elisa_manzoni{
  display: none;
}





}
