body{
font-family: 'Almarai', sans-serif;
padding:0px;
margin:0px;
cursor:default;

user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* PHONE */

/* generali */
.line{
  width: 100%;
  height: 2px;
  background-color: black;
}

a{
  text-decoration: none;
  color: black;
}

/* header */
.header{
  position: fixed;
  top:0px;
  left: 5vw;
  width: 90vw;
  height: 60px;
  background-color: white;
  z-index: 2;
  /* border: 1px solid green; */
}

.line_header{
  position: absolute;
  bottom: 0%;
}

.header_name{
  position: absolute;
  font-weight: 400;
  font-size: 17px;
  transform: translate(0%, -50%);
  top:60%;
}


#works{
  left: 75px;
  /* background-color: rgb(0, 255, 0); */
}

#contact{
  left:150px;
  cursor: pointer;
}

#home{
  right:0px;
}


/* contact */

@keyframes container_open {
  from{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 120px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 120px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 20px;
  padding: 40px 15px 20px 15px;
  line-height: 30px;
  text-align: center;
  opacity: 1;
  height: 120px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}

.green_background{
  background-color: rgb(0, 255, 0);
}

.exit{
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 10px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}

.exit:hover{
  background-image: url("images/x_white.png");
  transition: 0.2s;
}


.contact_popup:hover{
  color: white;
  transition: 0.2s;
}

.contact_popup{
  text-decoration: underline;
}

.display_none{
  display: none;
}



/* body */

.false_container{
  height:80px!important;
}

.container{
  position:relative;
  /* margin-top: 5px; */
  width:90vw;
  margin-left: 5vw;
  /* border: 1px solid green; */
}

.container-small{
  position:relative;
  display: inline-block;
  margin-top: 10px;
  width:100%;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 26px;
  /* border: 1px solid green; */
}

.img{
  position:relative;
  display: inline-block;
  margin-top: 5px;
  width:100%;
  /* border: 1px solid green; */
}

.margin_left{
  /* margin-left: 2%; */
}

.margin_top{
  margin-top: 50px!important;
}

.title{
  font-size: 30px;
  margin-bottom: 20px;
  line-height: 35px;
}

.color{
  background-color: rgb(0,255,0);
}

.question{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 30px;
}

.bold{
  font-weight: 600;
}

.width{
  position: relative;
  display: inline-block;
  /* width:500px!important; */
  margin-left: 5%;
}

.process{
  font-size: 30px;
}

.link{
  text-decoration: underline;
}

.link:hover{
  color:rgb(0,255,0);
}

.img_long{
  width: 96%;
  border: 1px solid black;
}







/* TABLET */

@media (min-width: 768px) {

.line{
  height: 3px;
}

.header{
  width:95vw;
  left:2.5vw;
}

.header_name{
  font-size: 24px;
}

.header_name:hover{
  background-color: rgb(0, 255, 0);
  transition: 0.5s;
}

#works{
  left: 150px;
}

#contact{
  left:300px;
}


/* contact */


@keyframes container_open {
  from{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 180px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 180px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 30px;
  padding: 60px 20px 20px 20px;
  line-height: 45px;
  text-align: center;
  opacity: 1;
  height: 180px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}


.exit{
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 20px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}


/* body */

.container{
  margin-top: 5px;
  width:95vw;
  margin-left: 2.5vw;
}

.container-small{
  position:relative;
  display: inline-block;
  margin-top: 10px;
  width:80%;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 26px;
  /* border: 1px solid green; */
}

.img{
  position:relative;
  display: inline-block;
  margin-top: 5px;
  width:48%;
  /* border: 1px solid green; */
}


.width{
  position: relative;
  display: inline-block;
  width:500px!important;
  margin-left: 5%;
}



/* DESKTOP */

@media (min-width: 1200px){

  .container{
    position:relative;
    /* margin-top: 5px; */
    width:90vw;
    margin-left: 5vw;
    /* border: 1px solid green; */
  }

  .container-small{
    position:relative;
    display: inline-block;
    margin-top: 10px;
    width:48%;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 26px;
    /* border: 1px solid green; */
  }

  .img{
    position:relative;
    display: inline-block;
    margin-top: 5px;
    width:48%;
    /* border: 1px solid green; */
  }

  .margin_left{
    margin-left: 2%;
  }

  .margin_top{
    margin-top: 50px!important;
  }

  .title{
    font-size: 30px;
    margin-bottom: 20px;
  }

  .question{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .bold{
    font-weight: 600;
  }

  .width{
    position: relative;
    display: inline-block;
    width:500px!important;
    margin-left: 5%;
  }

  .process{
    font-size: 30px;
  }

}
