body{
font-family: 'Almarai', sans-serif;
padding:0px;
margin:0px;
cursor:default;

user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

/* PHONE */

/* generali */
.line{
  width: 100%;
  height: 2px;
  background-color: black;
}

a{
  text-decoration: none;
  color: black;
}

/* header */
.header{
  position: fixed;
  top:0px;
  left: 5vw;
  width: 90vw;
  height: 60px;
  background-color: white;
  z-index: 2;
  /* border: 1px solid green; */
}

.line_header{
  position: absolute;
  bottom: 0%;
}

.header_name{
  position: absolute;
  font-weight: 400;
  font-size: 17px;
  transform: translate(0%, -50%);
  top:60%;
}


#works{
  left: 75px;
  background-color: rgb(0, 255, 0);
}

#contact{
  left:150px;
  cursor: pointer;
}

#home{
  right:0px;
}


/* contact */

@keyframes container_open {
  from{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 120px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 40px 15px 20px 15px;
    opacity: 1;
    font-size: 20px;
    height: 120px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 200px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 20px;
  padding: 40px 15px 20px 15px;
  line-height: 30px;
  text-align: center;
  opacity: 1;
  height: 120px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}

.green_background{
  background-color: rgb(0, 255, 0);
}

.exit{
  position: absolute;
  width: 25px;
  height: 25px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 10px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 15px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}

.exit:hover{
  background-image: url("images/x_white.png");
  transition: 0.2s;
}


.contact_popup:hover{
  color: white;
  transition: 0.2s;
}

.contact_popup{
  text-decoration: underline;
}



/* body */

#zefir_nome{
  width: 100px;
}

.false_container{
  height:80px!important;
}

.container{
  position:relative;
  margin-top: 5px;
  width:90vw;
  margin-left: 5vw;
  /* border: 1px solid green; */
}

.lavori_nomi{
  display: inline-block;
  font-weight: 400;
  font-size: 22px;
}

.arrow{
  position: absolute;
  right:-7px;
  width: 15px;
  top:13px;
  transform: translate(-50%,-50%);
  transition: 0.8s;
}

.rotate{
  transform: translate(-50%,-50%) rotate(180deg);
  transition: 0.5s;
}

.nome{
  margin-left: 23px;
  transition: 0.5s;
  transition-property: background-color;
  cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.color{
    background-color: rgb(0, 255, 0);
}

.categoria{
  /* margin-left: 75px; */
  margin-top: -10px;
}

.line_works{
  margin-top: 20px;
  margin-bottom: 20px;
}

.img{
  width: calc(100%);
  /* margin-left: 75px; */
  margin-top: 10px;
}

.work_description{
  font-weight: 400;
  font-size: 20px;
  margin-top: 5px;
}

.margin_top{
  margin-top: 15px;
}

.link{
  text-decoration: underline;
  line-height: 30px;
}

.display_none{
  display: none;
}

.link_progetti{
  font-size: 22px;
    text-decoration: underline;
    line-height: 28px;
    width: 250px;
}

@keyframes arrow_right1 {
  0%{ margin-left: 10px}
  6.25% {margin-left: 20px}
  12.5% {margin-left: 10px}
  18.75% {margin-left: 20px}
  25% {margin-left: 10px}
  100% {margin-left: 10px}
}

.arrow_right{
  display: inline-block;
  height:20px;
  transform: translate(0%, 10%);
}

.arrow_right1{
    animation: arrow_right1 3s infinite linear;
}

.green2{
  color: rgb(0,255,0);
}



/* TABLET */

@media (min-width: 768px) {

.line{
  height: 3px;
}

.header{
  width:95vw;
  left:2.5vw;
}

.header_name{
  font-size: 24px;
}

.header_name:hover{
  background-color: rgb(0, 255, 0);
  transition: 0.5s;
}

#works{
  left: 150px;
}

#contact{
  left:300px;
}


/* contact */


@keyframes container_open {
  from{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
  to{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 180px;
    text-align: center;
  }
}

@keyframes container_close {
  from{
    top: 50vh;
    left: 50vw;
    padding: 60px 20px 20px 20px;
    opacity: 1;
    font-size: 30px;
    height: 180px;
    text-align: center;
  }
  to{
    top: 30px;
    left: 380px;
    padding: 0px;
    opacity: 0;
    transition: 1s;
    font-size: 0px;
    height: 0px;
    text-align: center;
  }
}

.contact_container{
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 50vh;
  left: 50vw;
  z-index: 3;
  font-size: 30px;
  padding: 60px 20px 20px 20px;
  line-height: 45px;
  text-align: center;
  opacity: 1;
  height: 180px;
  animation: container_open 0.5s;
  /* border: 2px solid black; */
}

.contact_container_sparito{
  z-index: 3;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 255, 0);
  top: 30px;
  left: 200px;
  padding: 0px;
  opacity: 0;
  font-size: 0px;
  height: 0px;
  animation: container_close 0.5s;
}


.exit{
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%,0) rotate(180deg);
  left: 50%;
  top: 20px;
  background-image: url("images/x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px;
  cursor: pointer;
  /* background-color: rgb(0, 255, 0);
  border: 2px solid black; */
}


/* body */

.container{
  margin-top: 5px;
  width:95vw;
  margin-left: 2.5vw;
}

.lavori_nomi{
  font-size: 30px;
}

.nome{
  position: absolute;
  /* left:14vw; */
  transition: 0.5s;
  transition-property: background-color!important;
}

.container:hover .nome{
  background-color: rgb(0, 255, 0);
  transition: 0.2s;
}

.categoria{
  position:relative;
  margin-top: 10px;
}

.img{
  width: calc(100% - 5vw);
  /* margin-left: 17vw; */
  margin-top: 20px;
  display: inline-flex;
}

.line_works{
  margin-top: 20px;
  margin-bottom: 20px;
  width:100%;
}

/* .work_description_total{
  position: absolute;
  left:calc(53% + 20px);
  width:30%;
  top: 40px;
} */

.work_description_total{
  position: relative;
  display: inline-block;
  margin-top:10px;
  /* margin-left: 17vw; */
  width: 50%;
}

.work_description{
  font-size: 22px;
  margin-top: 5px;
  margin-left: 0px;
}

.link{
  line-height: 35px;
}

.margin_top{
  margin-top: 20px;
}

.green:hover{
  color: rgb(0, 255, 0);
  transition: 0.2s;
}

}


/* DESKTOP */

@media (min-width: 1200px){

  .img{
    position: absolute;
    width: 50%;
    left:0px;
    top:-10px;
    /* border: 1px solid black; */
  }

  .container_deposito{
    position: absolute;
    /* border: 1px solid red; */
    height: calc(50vw*0.553);
  }

  .container_izi{
    position: absolute;
    top: calc(50vw*0.5533 + 130px);
    height: calc(50vw*0.553);
    /* border: 1px solid red; */
  }

  .container_jukebox{
    position: absolute;
    top: calc(50vw*0.5533*2 + 175px);
    /* border: 1px solid red; */
    height: calc(50vw*0.553);
  }

  .container_arthur{
    position: absolute;
    top: calc(50vw*0.5533*3 + 220px);
    /* border: 1px solid red; */
    height: calc(50vw*0.553);
  }

    .container_behance{
      position: absolute;
      top: calc(50vw*0.5533*4 + 300px);
      height: 150px;
    }

  .work_description{
    position: absolute;
    font-size: 22px;
    left:50vw;
  }

  .lavori_nomi{
    position: absolute;
    left:50vw;
  }

  .line_works{
    position: absolute;
    top:calc(50vw * 0.553);
  }

  .work1{
    position: absolute;
    top:40px;
  }

  .work2{
    position: absolute;
    top:65px;
  }

  .work3{
    position: absolute;
    top:125px;
  }

  .work4{
    position: absolute;
    top:calc(50vw * 0.553 - 90px);
  }


  .link_progetti{
    font-size: 30px;
    line-height: 55px;
    width: 100%;
  }

  .link_progetti:hover{
    color:rgb(0,255,0);
    transition: 0.2s;
    text-decoration-color: rgb(0,255,0)!important;
  }

  @keyframes arrow_right1 {
    0%{ margin-left: 10px}
    6.25% {margin-left: 20px}
    12.5% {margin-left: 10px}
    18.75% {margin-left: 20px}
    25% {margin-left: 10px}
    100% {margin-left: 10px}
  }

  .arrow_right{
    display: inline-block;
    height:20px;
    transform: translate(0%, 10%);
  }

  .arrow_right1{
      animation: arrow_right1 3s infinite linear;
  }


}
